html
  head
    title title
  body
    h1 Login Page 
    form(action="http://localhost:3000/auth/login", method="POST")
      br
      input(name="nickname") 
      br
      input(name="password")
      br
      button(type="submit") Submit
